.search {
  padding: 50px;
  background: #E1F5FE;
  color: #025AA5;
  font-size: 28px; }
  .search p {
    margin-top: 30px;
    font-weight: 900; }

.fetch-all-poke {
  font-weight: bold !important;
  cursor: pointer; }

form {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  form div span {
    display: block;
    font-size: 12px;
    margin-top: 5px; }
  form input {
    width: 400px;
    margin-right: 10%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding-left: 10px;
    font-size: 14px; }
    form input:focus {
      outline: none;
      border-bottom: 2px solid #025AA5; }
  form button {
    width: 150px;
    height: 40px;
    font-weight: bold !important;
    cursor: pointer;
    margin-left: 40px; }
